name: Repository Event
on: [push, pull_request, issues]

jobs:
  checkout-action:
    runs-on: ubuntu-latest
    steps:
      run: |
        echo $GITHUB_SHA
        echo $GITHUB_REF
      - uses: actions/checkout@v3